@charset "UTF-8";


 body{
 	 background-color: #e4c3ad;
   }

 header{
 	text-align:center ;
 	letter-spacing: 1.5px;
	font-family: sans-serif;
	background-color: #0d1f2d;
	color: white;
	
  }

 main{
 	display: flex;
 	flex-direction: row;
 }

 #paragrafo{
 	height: 1.7rem;
 }
 .paragrafos{
 	font-size: 20px;
 }

 *{
	font-family: sans-serif;
	letter-spacing: 1px;
	text-align: center;
}